<div class="menu-container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
    <h2 class="mb-4">
      Your Dashboard
    </h2>
<hr class="w-50 mx-auto mb-4">
    <div class="container">
      <div class="row">
        <div class="card background-cream col-10 mx-auto pt-4 pb-4">
        <div class="mx-auto col-9 col-sm-9 col-md-6 col-lg-6">
          
               <div class="mx-auto col-10 col-sm-10 col-md-10 col-lg-10">

         <div class="mx-auto col-8">
   <h3 class="card background-green cream-font p-2 mb-3">
              Create Post
            </h3>
            </div>

            <div class="card background-green cream-font mb-3">
              {{!-- <div class="mx-auto col-10 col-sm-10 col-md-10 col-lg-10"> --}}
            <form class="mb-3 new-post-form">
              <label class="mt-3 mb-2" for="post">
                Title
              </label>
              <br />
              <textarea
                class="mb-3 form-width"
                id="title"
                name="title"
                rows="2"
                {{!-- cols="30" --}}
              >{{title}}</textarea>
              <br />
              {{! content }}
              <label class="mb-2" for="content">
                Content
              </label>
              <br />
              <textarea
                class="mb-3 form-width"
                id="content"
                name="content"
                rows="5"
                {{!-- cols="30"  --}}
              >{{content}}</textarea>
            
            </br>

              <button class="btn btn-sm btn-primary" type="submit" value="Submit">
                Submit
              </button>
            </form>
            {{!-- </div> --}}
            </div>
              </div>
          {{!-- </div> --}}
        </div>
          <hr class="hr-green-solid">

        {{! <div class="container"> }}
        <div class="mb-5 mx-auto col-9 col-sm-9 col-md-9 col-lg-9">
             <div class="mx-auto col-6">
          <h3 class="card mb-3 background-green cream-font p-2">
            Your Posts
          </h3>
          </div>
          
        
      
   <div class="row">
          {{#each posts as |post|}}
        
   <div class="card background-green mx-auto col-11 pb-2 mb-5">
            <div class="list-group mt-3 mb-3">
              <a
                href="/edit-post/{{post.id}}"
                class="background-cream list-group-item"
                aria-current="true"
              >
                <div class="d-flex w-100 justify-content-between">
                  <div class="col-6">
                  <p class="text-start align-self-start title-margin p-2 card black-font">{{post.title}}</p>
                  </div>
               
                  <small class="text-end align-self-start p-2 black-font">
                    {{post.User.username}}
                    <br>
                    {{format_date post.createdAt}}</small>
                    </div>

                    <hr class="hr-green">
                    
            
                <div class="col-12 d-flex justify-content-center">
               <div class="col-8">
                <p class="mt-3 mb-1 text-start card black-font p-2">{{post.body}}</p>
                </div>
                </div>
              </a>
                </div>
              <div class="container">
               <div class="col-md-12 col-lg-12">
              <div class="d-flex justify-content-center">
               
              <div class="col-md-6 col-lg-6 post-list">
                <button
                  class="btn btn-sm btn-danger mb-2 mt-2"
                  data-id="{{post.id}}"
                >Delete</button>
              </div>

                  <div class="edit-btn col-lg-6 col-md-6">
                <button
                  class="btn btn-sm mb-2 btn-primary mt-2"
                  data-id="{{post.id}}"
                >Edit</button>
              </div>
            
              </div>
            </div>
           

{{!-- container div --}}        
  </div>
          </div>
   

          {{/each}}
          </div>
              </div>
              </div>
              </div>
        </div>
      </div>
    {{!-- </div> --}}
  </div>
</div>

{{! ADD COMMENTS }}

{{! login }}

{{! <script src="/js/add-post.js"></script> }}
<script src="/js/dashboard.js"></script>