<div class="container background">
  <div class="row">


    {{#each posts as |post|}}
      <div class="col-12 mx-auto">
        <div class="card background-cream px-3 mb-5">
          
         <div class="col-12 mx-auto">
            <div class="card background-green mt-3 mx-3 px-3 mb-3">
         
            <div class="col-12">
              <div class="d-inline-block background-cream black-font card px-4 mt-3 mb-3 pt-2">
                <h5 class="card-title align-self-start d-">{{post.title}}</h5>
              </div>
            </div>
  </div>

          </div>
        <hr class="my-0">

          <div class="row">
            <div class="col-12">
        
          <div class="card background-green mt-4 mx-3 px-3 mb-2">
            <div class="col-12 d-flex flex-wrap">
         <div class="col-lg-8 col-md-8 col-sm-12 col-12 mx-auto">
              <div class="card px-4 mt-3 mb-3 pt-2 pb-1 background-cream">
              
                <p class="black-font card mx-1 px-3 green-font pt-2 mt-3 mb-3 pb-5">{{post.body}}</p>
                </div>
                </div>

              <div class="col-lg-4 col-md-4 col-sm-12 col-12">    
              <div
                class="card float-end background-cream black-font px-3 mt-3 mb-3 pt-2 pb-1 text-end"
              >
                <p class="mb-0">{{post.User.username}}</p>
                
                  <hr class="hr-mini my-2">
                  <p>
                  {{format_date post.createdAt}}
                </p>
              </div>
           </div>
           </div> 
           </div>
           </div>

              <div
                class="col-12"
              >       
                <button
                  class="btn btn-sm mx-1 mt-3 mb-3 background-red cream-font"
                  id="comment-page"
                  data-id="{{post.id}}"
                >Add Comment</button>

                 <button
                  class="btn btn-sm mx-1 mt-3 mb-3 view-com background-red view-comments cream-font"
                    data-id="{{post.id}}"
             
                >View Comments</button>

          
              </div>
              </div>
              </div>
              

            {{#if post.Comments}}
              <div class="data-{{post.id}}"
              style='display: none'>
                <hr class="hr-comment mb-4 my-0 ">
                {{else}}
                {{!-- <br> --}}
                {{/if}}
            <div class="container">
              <div class="row">
              
                {{#each post.Comments as |comments|}}
                  <div data-id="{{post.id}}" class="col-sm-10 col-10 col-md-6 col-lg-6">
                    
                    <div class="card black-font background-cream px-2 pt-2 mt-3 mb-5">
                           <p class="com-u-name">{{comments.User.username}}</p>
                      {{! <div class="mx-auto col-10 col-sm-10 col-md-10 col-lg-10"> }}
                      <div class="d-flex justify-content-between">
                        <div
                          class="mb-2 p-2 col-12"
                        >
                          <div class="card p-2">
                            <p>{{comments.body}}</p>
                          </div>
                        </div>

                   
                        {{! </div> }}
                      </div>

                    </div>
                  </div>
                {{/each}}
              </div>
            </div>

          </div>
    
      </div>

      
      <hr class="mb-5 cream-font hr-post">
      </div>
   
    {{/each}}

  </div>
</div>

<script src="/js/view-comments.js"></script>
<script src="/js/add-post.js"></script>
<script src="/js/homepage.js"></script>