          {{!-- EDIT POST --}}

         
          {{!-- {{#if comparison (comment.User.id userId)}} --}}
{{!-- <p>ok</p>
{{else}}
<p>hello</p>
{{/if}} --}}
       
<div class="menu-container">
  <div class="card-header col-12">
    <br>

  <div class="edit-post-container">
    <div class="row">
    <div class="card pt-3 mx-auto col-sm-6 col-md-6 col-lg-6 text-center">
            <h5>Post</h5> 
           
    <p>{{post.body}}</p> 
     <hr>
    <div class="d-flex">
       <div class="d-block col-md-4 col-lg-4">
    <h5>Post Title</h5>
    <p>{{post.title}}</p>   
    </div>
 
    <div class="d-block col-md-4 col-lg-4">
    <h5>Posted By</h5> 
    <p>{{post.User.username}}</p>
    </div>

      <div class="d-block col-md-4 col-lg-4">
    <h5>Date Posted</h5> 
    <p>{{format_date post.createdAt}} </p>
    </div>
    </div>



    </div>
     

  <div class="card-header col-md-6 col-lg-6 text-center">
      <form class="new-comment-form">
      <h5 class='mb-3 mt-3' for="comment">
       Add Comment
      </h5>
    
    <textarea id="comment" name="comment" rows="5" cols="30">{{comment}}</textarea>
    <br />

    <button class="btn btn-primary mt-3" type="submit" value="comment-submit">
      Submit
    </button>
    </form>
  </div>
    </div>
  </div>

  <p> {{userId}} </p>

  {{#if post.Comments}}
  {{!-- <div class="d-flex justify-content-center"> --}}

<h3 class="text-center mt-5">Comments</h3>
{{else}}
{{/if}}
 {{#each post.Comments as | comment | }}
 <div class="mx-auto col-md-8 col-lg-8"> 
<div>
 <ul class="list-group">
  <li class="list-group-item">{{comment.body}}</li>
  <p>{{comment.User.id}}</p>
  <li class="list-group-item">Posted by: {{ User.username }}</li>  
</ul>
 </div>
{{!-- 
 <p>{{loggedIn}}</p> --}}
{{!-- 
{{#if comment.User.id===userId }}
<p>hello</p>
{{else}}
<p>bye</p>
{{/if}} --}}


</div>

</div>

</div>
</div>

{{/each}}
</div>


{{!-- <script src="/js/eq.js"></script> --}}
<script src="/js/post.js"></script>
<script src="/js/add-comment.js"></script>
